[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
discord = {py = ">=1.7.1<2.0"}

[dev-packages]
black = "*"
flake8 = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[scripts]
lint = "flake8"
format = "black --line-length=130 ."
